:root {
    /* 浅色主题变量 */
    --primary-color: #ff6f61;
    --secondary-color: #6ab04c;
    --text-color: #333;
    --text-color-secondary: #666; /* 添加次要文本颜色 */
    --light-gray: #f5f5f5;
    --border-color: #eaeaea;
    --link-color: var(--text-color);
    --link-hover-color: var(--primary-color);
    --bg-color: #f8f9fa;
    --card-bg: white;
    --header-bg: white;
    --footer-bg: var(--light-gray);
    --shadow-color: rgba(0, 0, 0, 0.05);
    --comment-bg: var(--light-gray);
    --text-color-light: #666;
    --input-bg-color: white;
    --hover-color: #f0f0f0;
    --primary-color-dark: #e85d50;
    --color-background: var(--bg-color); /* 背景颜色 */
    --color-background-soft: #f9f9f9; /* 柔和背景颜色 */
    --color-heading: var(--text-color); /* 标题颜色 */
    --color-text: #666666; /* 主要文本颜色 */
    --color-text-light: #999999; /* 次要文本颜色 */
    --color-primary: #ff6f61; /* 主要颜色 */
    --color-border: #eaeaea; /* 边框颜色 */
}

/* 深色主题变量 */
[data-theme="dark"] {
    --primary-color: #ff8075;
    --secondary-color: #7cc75d;
    --text-color: #e1e1e1;
    --text-color-secondary: #a0a0a0;
    --light-gray: #2d2d2d;
    --border-color: #404040;
    --link-color: #e1e1e1;
    --link-hover-color: var(--primary-color);
    --bg-color: #1a1a1a;
    --card-bg: #2b2b2b;
    --header-bg: #2b2b2b;
    --footer-bg: #2b2b2b;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --comment-bg: #2d2d2d;
    --text-color-light: #888;
    --input-bg-color: #333;
    --hover-color: #363636;
    --primary-color-dark: #cc6b60;
    --color-background: var(--bg-color); /* 背景颜色 */
    --color-background-soft: #2b2b2b; /* 柔和背景颜色 */
    --color-heading: var(--text-color); /* 标题颜色 */
    --color-text: #e1e1e1; /* 主要文本颜色 */
    --color-text-light: #aaaaaa; /* 次要文本颜色 */
    --color-primary: #ff8075; /* 主要颜色 */
    --color-border: #404040; /* 边框颜色 */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    /*line-height: 1.6;*/
    font-size: 16px;
    color: var(--text-color);
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: var(--bg-color);
}

/* 添加全局链接样式 */
a {
    color: var(--link-color);
    text-decoration: none;
    transition: color 0.2s;
}

a:hover {
    color: var(--link-hover-color);
}
