<footer class="main-footer">
    <div class="footer-container">
        <div class="footer-content">
            <div class="footer-column">
                <h3>关于我</h3>
                <div class="footer-links">
                    <a href="https://github.com/abandon1a2b" class="footer-link">abandon1a2b</a>
                </div>
                <div class="social-links">
                    <a href="#" class="social-link">微博</a>
                    <a href="#" class="social-link">GitHub</a>
                    <a href="#" class="social-link">小红书</a>
                </div>
            </div>
            <div class="footer-column">
                <h3>项目列表</h3>
                <div class="footer-links">
                    <a href="https://github.com/abandon1a2b/bigbrother" class="footer-link">bigbrother</a>
                    <a href="https://github.com/leancodebox/rooster" class="footer-link">rooster</a>
                    <a href="https://github.com/leancodebox/GooseForum" class="footer-link">GooseForum</a>
                </div>
            </div>
            <div class="footer-column">
                <h3>社区文章</h3>
                <div class="footer-links">
                    <a href="https://abandon1a2b.github.io/" class="footer-link">abandon1a2b</a>
                    <a href="https://gooseforum.online/post/370" class="footer-link">GooseForum-开发背景</a>
                </div>
            </div>
            <div class="footer-column">
                <h3>联系我</h3>
                <div class="footer-links">
                    <p class="footer-link">📧: abandoncoding@outlook.com</p>
                    <p class="footer-link">🌍: 中国上海市浦东新区</p>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <p><span>&copy; {{.year}} GooseForum - 分享知识，连接世界</span>
                {{with getFooterLink}}
                    | <span> <a href="{{.url}}" class="legal-link" target="_blank">{{.text}}</a></span>
                {{end}}
            </p>
            <div class="footer-legal">
                <a href="/sitemap.xml" class="legal-link">网站地图</a>
            </div>
        </div>
    </div>
</footer>
