<header>
    <nav>
        <a href="/" class="logo" style="letter-spacing: 0;">
            <span style="color:#ff6f61">G</span><span style="color:#6ab04c">o</span><span
                    style="color:#333333">ose</span><span style="color:#ff6f61">F</span><span style="color:#6ab04c">o</span><span
                    style="color:#333333">rum</span>
        </a>
        <a href="/">首页</a>
        <a href="/post">文章</a>
    </nav>
</header>
