<header>
    <nav>
        <a href="/" class="logo" style="letter-spacing: 0;">
            <span style="color:var(--primary-color)">G</span><span style="color:var(--secondary-color)">o</span><span
                    style="color:var(--text-color)">ose</span><span style="color:var(--primary-color)">F</span><span style="color:var(--secondary-color)">o</span><span
                    style="color:var(--text-color)">rum</span>
        </a>
        <a href="/">首页</a>
        <a href="/post">文章</a>
        <button class="theme-switch" onclick="toggleTheme()" aria-label="切换主题">
            <span class="theme-icon">🌓</span>
        </button>
    </nav>
</header>
