{{template "layout/app.gohtml" .}}

{{define "noscript"}}
{{template "page" .}}
{{end}}

{{define "page"}}
<main>
    <h1>{{.Payload.Layout.Site.Name}}</h1>
    {{if .Payload.Meta.Description}}<p>{{.Payload.Meta.Description}}</p>{{end}}
    {{template "partials/topic_list.gohtml" .Payload.Props.Topics}}
    {{if .Payload.Props.Pagination.HasNext}}
    <p><a href="{{.Payload.Props.Pagination.NextURL}}" rel="next">下一页</a></p>
    {{end}}
</main>
{{end}}
