<!DOCTYPE html>
<html lang="zh-CN" data-theme="{{.Theme}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "commonhead.gohtml" .}}
    {{if .IsProduction}}
    {{GetImportInfoPath `src/style.css`}}
    {{GetImportInfoPath `src/main.js`}}
    {{else}}
    <script type="module" src="http://localhost:3001/src/main.js"></script>
    {{end}}
</head>
<body>
<div class="min-h-screen flex flex-col bg-base-200">
    <header class="sticky top-0 z-50">
        {{template "nav.gohtml" .}}
    </header>
    <main class="flex-1 container mx-auto px-4 py-4">
        baseInfo
    </main>
    {{template "footer.gohtml" .}}
</div>
</body>
</html>
