<!DOCTYPE html>
<html lang="zh-CN" {{if .Theme}}data-theme="{{.Theme}}"{{end}}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {{template "commonhead.gohtml" .}}
    {{GetImportInfoPath `src/publish-v3.js`}}
</head>
<body>
<div class="min-h-screen flex flex-col bg-base-200">
    <header class="sticky top-0 z-50">
        {{template "nav.gohtml" .}}
    </header>
    <main class="flex-1 container mx-auto px-4 py-4">
        <div id="app">
        </div>
    </main>
    {{template "footer.gohtml" .}}
</div>
</body>
</html>
