pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}

code.hljs {
  padding: 3px 5px
}

/* Light theme (default) */
.hljs {
  color: #24292e;
  background: #ffffff;
}

.hljs-doctag,
.hljs-keyword,
.hljs-meta .hljs-keyword,
.hljs-template-tag,
.hljs-template-variable,
.hljs-type,
.hljs-variable.language_ {
  color: #d73a49
}

.hljs-title,
.hljs-title.class_,
.hljs-title.class_.inherited__,
.hljs-title.function_ {
  color: #6f42c1
}

.hljs-attr,
.hljs-attribute,
.hljs-literal,
.hljs-meta,
.hljs-number,
.hljs-operator,
.hljs-variable,
.hljs-selector-attr,
.hljs-selector-class,
.hljs-selector-id {
  color: #005cc5
}

.hljs-regexp,
.hljs-string,
.hljs-meta .hljs-string {
  color: #032f62
}

.hljs-built_in,
.hljs-symbol {
  color: #e36209
}

.hljs-comment,
.hljs-code,
.hljs-formula {
  color: #6a737d
}

.hljs-name,
.hljs-quote,
.hljs-selector-tag,
.hljs-selector-pseudo {
  color: #22863a
}

.hljs-subst {
  color: #24292e
}

.hljs-section {
  color: #005cc5;
  font-weight: bold
}

.hljs-bullet {
  color: #735c0f
}

.hljs-emphasis {
  color: #24292e;
  font-style: italic
}

.hljs-strong {
  color: #24292e;
  font-weight: bold
}

.hljs-addition {
  color: #22863a;
  background-color: #f0fff4
}

.hljs-deletion {
  color: #b31d28;
  background-color: #ffeef0
}

/* Dark theme */
.dark-theme .hljs {
  color: #c9d1d9;
  background: #0d1117;
}

.dark-theme .hljs-doctag,
.dark-theme .hljs-keyword,
.dark-theme .hljs-meta .hljs-keyword,
.dark-theme .hljs-template-tag,
.dark-theme .hljs-template-variable,
.dark-theme .hljs-type,
.dark-theme .hljs-variable.language_ {
  color: #ff7b72
}

.dark-theme .hljs-title,
.dark-theme .hljs-title.class_,
.dark-theme .hljs-title.class_.inherited__,
.dark-theme .hljs-title.function_ {
  color: #d2a8ff
}

.dark-theme .hljs-attr,
.dark-theme .hljs-attribute,
.dark-theme .hljs-literal,
.dark-theme .hljs-meta,
.dark-theme .hljs-number,
.dark-theme .hljs-operator,
.dark-theme .hljs-variable,
.dark-theme .hljs-selector-attr,
.dark-theme .hljs-selector-class,
.dark-theme .hljs-selector-id {
  color: #79c0ff
}

.dark-theme .hljs-regexp,
.dark-theme .hljs-string,
.dark-theme .hljs-meta .hljs-string {
  color: #a5d6ff
}

.dark-theme .hljs-built_in,
.dark-theme .hljs-symbol {
  color: #ffa657
}

.dark-theme .hljs-comment,
.dark-theme .hljs-code,
.dark-theme .hljs-formula {
  color: #8b949e
}

.dark-theme .hljs-name,
.dark-theme .hljs-quote,
.dark-theme .hljs-selector-tag,
.dark-theme .hljs-selector-pseudo {
  color: #7ee787
}

.dark-theme .hljs-subst {
  color: #c9d1d9
}

.dark-theme .hljs-section {
  color: #1f6feb;
  font-weight: bold
}

.dark-theme .hljs-bullet {
  color: #f2cc60
}

.dark-theme .hljs-emphasis {
  color: #c9d1d9;
  font-style: italic
}

.dark-theme .hljs-strong {
  color: #c9d1d9;
  font-weight: bold
}

.dark-theme .hljs-addition {
  color: #aff5b4;
  background-color: #033a16
}

.dark-theme .hljs-deletion {
  color: #ffdcd7;
  background-color: #67060c
} 